torch >= 2.0.0
tqdm
elasticsearch[async]==8.17.2
clearml
openai
scikit-learn
pandas
transformers==4.46.2
huggingface_hub
bitsandbytes
accelerate
protobuf==3.20.1
matplotlib
pandas
peft
aiofiles
aiohttp
sentence_transformers==2.7.0
datasets
einops
info-nce-pytorch
faiss-cpu

bm25s
